*{
    margin:0;
    padding: 0;
    font-family:'Roboto','sans -serif';
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container{
    width:100%;
    height: 100%;
    background-image:url("img/back1.jpeg"),url("img/jungle.jpeg"),url("img/back2.jpeg");
    background-position: top left,center,bottom;
    background-size: 100%,100%;
    background-repeat: no-repeat;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing:border-box; 
}

.navbar{
    height: 12%;
    display: flex;
    align-items:center;
}
.logo{
    width:100px;
    align-items:center;
    cursor: pointer;
    padding-top: 5px;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display:inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 13px;
}
.row{
    display: flex;
    height:40%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}

h1{
    color:black;
    font-size: 80px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg,#00dbde,#fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{
    color:black;
    font-size:20px;
}
.card{
    width:200px;
    height: 230px;
    display:inline-block;
    border-radius: 10px;
    padding:15px 25px;
    box-sizing: border-box;
    cursor:pointer;
    margin:10px 15px;
    background-position: center;
    background-size: cover;
    transition:trasnsform 0.5; 
}
.card1{
    background-image: url(img/hill.jpeg);
}
.card2{
    background-image: url(img/back1.jpeg);
}
.card3{
    background-image: url(img/forest.jpeg);
}
.card4{
    background-image: url(img/train.jpeg);
}
.card:hover{
    transform: translateY(-10px) ;
}
h5{
    color:black;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 5px #000;
    font-size: 5px;
}
.section p{
    font-size: 20px;
    color:white;
}
.des{
    width:260px;
    height:auto;
    overflow: hidden;
    object-fit: contain;
    background-size: cover;
    border-radius: 2rem;
}
footer{
    padding: 35px 0;
    position: relative; 
    background-color: #000;
    color:white;
}
.footer-content{
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center ;
}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.social li{
    margin: 0 10px;
}
.social a{
    text-decoration: none;
    color: #999;
}
.social a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.social a:hover{
    color: aqua;
}
.container1{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cards{
    border:2px solid black;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width:500px;
    margin: 1.5rem;
}
cards-left{
    border: 2px solid black;
    width:800px;
    padding: 2rem;
}
.cards1{
    margin-left: 9rem;
    margin: 1.5rem;
}
.cards2{
    margin-right: 9rem;
    margin: 1.5rem;
}
.cards3{
    margin-left: 9rem;
    margin: 1.5rem;
}
.cards4{
    margin-right: 9rem;
}
.col button{
    border-radius: 25px;
    width:200px;
    height:60px;
    background-color: rgb(161, 85, 233);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: #000;
}
a{
    text-decoration: none;
}
.col button:hover{
    transform: translateY(-10px) ;
}

